#-------------------------------------------------------------------------------
# Framework
#-------------------------------------------------------------------------------

/.idea
/.vscode
/node_modules
/public/css
/public/fonts
/public/img
/public/js
/public/main.js
/public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log



#-------------------------------------------------------------------------------
# Debug / Testing
#-------------------------------------------------------------------------------

~*
ignore.*
*.ignore



#-------------------------------------------------------------------------------
# Linux
#-------------------------------------------------------------------------------

*~
.directory
.fuse_hidden*
.nfs*
.Trash-*



#-------------------------------------------------------------------------------
# Mac OS
#-------------------------------------------------------------------------------

._*
.apdisk
.AppleDouble
*.DS_Store
.LSOverride



#-------------------------------------------------------------------------------
# Windows
#-------------------------------------------------------------------------------

*.lnk
Desktop.ini
ehthumbs.db
Thumbs.db
$RECYCLE.BIN/
